.nav-right.container {
    position: relative;
}


.drop-content {
    position: relative;
    float: right;
    top: -10px;
    display: none;
}

.drop-content input {

    padding: .5rem;
    border: none;
    border-radius: 4px;
    outline: none;
    background: rgba(255, 255, 255, 1);
    color: rgb(36, 36, 36);
    font-size: 1.6rem;
}

.active {
    display: block;
}

#like {
    z-index: 99;
}



@media (max-width: 768px) {
    .movie-info .flex {
        flex-direction: column;
        padding: 0 1.5rem;
        align-items: flex-start;
    }

    .cast .slider {
        gap: 1.5rem;
    }

    .cast .card-people {
        margin: 0;
    }

    .recommendations {
        margin: 4rem 0;
    }

    .movie-info .overview {
        clear: both;
        white-space: normal !important;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}