@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --color-primary: #d4ff58;
    --color-secondary: #FFCC1D;
    --color-main-bg: #fff;
    --color-dark-db: #15190a;
    --color-text-grey: rgba(0, 0, 0, .6);
    --main-width: 1330px;
}

/* ---- GENERAL ---- */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

img {
    width: 100%;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

h1,
h2 {
    line-height: 1.2;
}

/* ---- UTILITY ---- */

.container {
    max-width: var(--main-width);
    margin: 0 auto;
    padding: 0 4rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ---- NAVBAR ---- */

nav {
    background: var(--color-dark-db);
    height: 7rem;
    position: relative;
}

nav .flex {
    justify-content: space-between;
}

nav a {
    color: #fff;
    font-size: 1.6rem;
}

nav ul.links {
    gap: 3rem;
}

nav ul.links a:hover {
    color: var(--color-primary);
    transition: all 0.3s;
}

.logo {
    display: inline-flex;
    align-items: center;
    margin-right: 5rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-primary);
}

.logo img {
    margin-right: .5rem;
    width: 4rem;
}

.menu {
    position: absolute;
    display: none;
    font-size: 2rem;
}

.navbar-left {
    position: relative;
}

.navbar-right {
    position: relative;
    width: 100%;
}

.dropbtn {
    font-size: 2rem;
    cursor: pointer;
}

/* 
.drop-content {
    display: none;
    position: absolute;
    z-index: 1;
    top: 7rem;
    right: 0;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-input {
    padding: .5rem 1rem;
    font-size: 1.8rem;
    border: none;
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    width: 100%;
} */

.navbar-right:hover .drop-content {
    display: block !important;
}

/* ---- HERO ---- */

.hero .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30rem;
    background: linear-gradient(45deg, rgba(212, 255, 88, .5), rgba(37, 255, 84, .8)), url('../images/hero-wallpaper.jpg') no-repeat center -6rem /cover;

}

.hero h1 {
    font-size: 5rem;
}

.hero h2 {
    font-size: 3.5rem;
}

.search-big {
    position: relative;
    margin: 2rem 0;
}

.search-big input {
    width: 100%;
    padding: 1.5rem;
    border: none;
    border-radius: 3rem;
    font-size: 2rem;
}

.search-big button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 12rem;
    right: 0;
    height: 100%;
    border-radius: 3rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    background: linear-gradient(to right, #d4ff58, #25ff54);
    cursor: pointer;
}

/* ---- POPULAR ---- */

.popular {
    margin: 4rem 0;
}

.popular h2 {
    font-size: 2.6rem;
}

.popular .container {
    padding: 0;

}

.slider {
    overflow-x: scroll;
    overflow-y: hidden; 
    padding: 4rem 0;
    transition: height .5s linear;
    position: relative;
}

.slider.flex {
    gap: 2rem;
    justify-content: flex-start;
}

.card {
    height: 29rem;
    width: 15rem;
    flex-shrink: 0;
    z-index: 1;
}

.card .card-img img {
    border-radius: 8px;
}

.card .card-content h3 {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.card .card-content p {
    font-size: 1.5rem;
    margin-top: .5rem;
    color: var(--color-text-grey);
}

.trending h2,
.popular h2 {
    padding-inline: 4rem;
}

/* TABS */

.slider-tab.flex {
    justify-content: flex-start;
}

.dropbtn {
    background: linear-gradient(45deg, #d4ff58, #25ff54);
    color: var(--color-dark-db);
    padding: .6rem 1.3rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    z-index: 99 !important;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #afd14a;
}

.dropdown {
    position: relative;
    display: block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background: tomato;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 -12px 0 tomato;
    left: 0;
    right: -5rem;
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}



/* ---- NOW PLAYING ==== */

.now-playing {
    height: 45rem;
}

.now-playing .flex {
    justify-content: flex-start;
}

.now-playing .container {
    gap: 2.5rem;
    padding: 0;
    background: linear-gradient(-45deg, rgb(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    
}

.now-left {
    height: 100%;
}

.now-left img {
    width: auto;
}

.now-right h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.now-right p {
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.5;
}

.now-meta p {
    display: inline-block;
}

.now-meta .pg {
    padding: .2rem .3rem;
    border: 1px solid rgb(172, 172, 172);
    color: rgb(172, 172, 172);
}

.now-meta *+* {
    margin-left: 1rem;
}

.slogan {
    color: rgb(172, 172, 172);
    font-style: italic;
    margin-top: 2rem;
}

.overview h4 {
    font-size: 2rem;
    color: #fff;
    margin: 1rem 0;
}


.like-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    background: rgba(0, 0, 0, .8);
    border-radius: 50%;
}

.now-action {
    margin-top: 2rem;
}

.now-trailer {
    display: inline-flex;
}

.now-trailer a {
    color: #fff;
    font-size: 2rem;
    margin-left: 1.5rem;
    cursor: pointer;
    transition: all .2s;
}

.now-trailer a:hover {
    color: rgba(255, 255, 255, .5);
}

/* ==== TRENDING */

.trending {
    margin: 4rem 0;
}

.trending h2 {
    font-size: 2.6rem;
}

.trending .container {
    padding: 0;

}


/* ---- FOOTER ---- */

footer {
    background: var(--color-dark-db);
    color: #fff;
    padding: 4rem 0;
}

footer .flex {
    flex-direction: column;
    gap: 1rem;
}

footer .logo {
    margin-bottom: 2rem;
}

footer p,
footer a {
    font-size: 1.3rem;
    color: #eee;
}


/* LIKE BUTTON */

.now-action input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    background-color: white;
    position: relative;
    outline: none;
    transform: rotate(45deg);
    -webkit-appearance: none;
    cursor: pointer;
}

.now-action input[type="checkbox"]:before {
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    top: -59%;
    border-radius: 75px 75px 0 0;
}

.now-action input[type="checkbox"]:after {
    position: absolute;
    content: "";
    background-color: white;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    border-radius: 75px 75px 0 0;
    top: 20%;
    right: 80%;

}

.now-action input[type="checkbox"]:checked,
.now-action input:checked[type="checkbox"]:before,
.now-action input:checked[type="checkbox"]:after {
    background-color: #fe0f42;
}


/* ---- SCROLLBAR ---- */

/* width */
div::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);
    border-radius: 3px;
}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: rgb(167, 167, 167);
}


/* -------- SEARCH -------- */

/* MAIN */

.search {
    margin-top: 3rem;
}

.search .flex {
    align-items: flex-start;
    gap: 3rem;
}

.search-cat {
    min-width: 26rem;
    border: 1px solid #eee;
    border-radius: 1rem;
}

.search-cat .heading {
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.heading h3 {
    font-size: 2rem;
    color: #333;
}

.side-menu {
    margin: 1rem 0;
}

.side-menu li {
    font-size: 1.8rem;
    padding: 1rem 2rem;
}

.side-menu li a {
    color: #333;
}

.side-menu li:hover {
    background: #eee;
}

.card-long {
    border-radius: 1rem;
    height: 141px;
}   

.card-long .card-img {

}

.card-long img {
    height: auto;
}


/* ---- RESPONSIVE ---- */

@media (max-width: 992px) {

    .now-right h1 {
        font-size: 2.5rem;
    }

    .overview p {
        font-size: 1.4rem;
    }
}


@media (max-width: 768px) {

    .container {
        padding: 0 2rem;
    }

    .hero .container {
        background: linear-gradient(45deg, rgba(212, 255, 88, .5), rgba(37, 255, 84, .8)), url('../images/hero-wallpaper.jpg') no-repeat center top /cover;
        justify-content: flex-end;
    }

    .links {
        position: fixed;
        background: hsl(0 0% 0% / 0.9);
        backdrop-filter: blur(1rem);
        inset: 7rem 30% 0 0;
        padding: min(10vh, 10rem) 2rem;
        z-index: 10;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: all .3s 50ms;
    }

    .links[data-visible="true"] {
        transform: translateX(0%);
    }

    .links.flex {
        flex-direction: column;
        justify-content: flex-start;
        gap: 3.5rem
    }

    nav .logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .menu {
        display: block;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .search-big {
        margin-top: 4rem;
    }

    .search-big input {
        padding: 1rem;
        font-size: 1.6rem;
    }

    .trending h2,
    .popular h2 {
        padding-inline: 2rem;
    }

    .now-playing {
        height: auto;
    }

    .now-playing .flex {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 2rem;
    }

    .now-left {
        height: 20rem;
        width: 15rem;
        aspect-ratio: 1;
        margin-bottom: 3rem;
    }

    .now-left img {
        width: 100%;
    }

    .now-right h1 {
        text-align: center;
    }
}
